*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Header Styles */
.header{
    background-image: url(images/donation4-1.jpg);
    background-size: 1400px 660px ;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.header-title{
    color: white;
    font-size: 50px;
    padding-top: 200px;
    text-align: center;
    /* margin: 200px 0 auto; */
    font-weight: 700;
    margin-bottom: 20px;

}
.header-description{
    color: rgb(192, 192, 192);
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
}
.header-button{
    text-align: center;

}
.header-button button{
    background-color: rgb(255, 97, 79);
    padding: 14px 26px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 100px;
}
.header-button a{
    text-decoration: none;
    color: white;
}